# Data Exploration

## Background

### Data Source
The data used in this notebook is sourced from the National Centers for Environmental Information (NCEI): [Global Historical Climatology Network (GHCN) - Hourly](https://www.ncei.noaa.gov/products/global-historical-climatology-network-hourly). Refer to their documentation and terms of use.

#### Data Set

Station_ID: the station identification code. The first two characters signify the FIPS country code, the third character is a network code identifying the station numbering system used, and the remaining eight characters contain the actual station ID.

Station_Name: the name of the station.

Year: the year the observation was taken in Coordinated Universal Time (UTC).

Month: the month the observation was taken in Coordinated Universal Time (UTC).

Day: the day the observation was taken in Coordinated Universal Time (UTC).

Hour: the hour the observation was taken in Coordinated Universal Time (UTC).

Latitude: latitude of the station (in decimal degrees). North (+); South (-).

Longitude: the longitude of the station (in decimal degrees). East (+); West (-).

Temperature: 2 meter (circa) Above Ground Level Air (dry bulb) Temperature (‚Å∞C to tenths)

Notes: 
- Raw data was removed in download_ghcn.py for storage purposes.
- GHCN hourly dataset contained psv files for individual stations in specific years. When processing the data, it was converted to csv format files for all California stations in years 2003 - 2023.
- Most columns were dropped as they were not needed. Columns kept were described above.
- Duplicate rows that had completely same column values were dropped.

# Data Cleaning

### Set up

In [1]:
import pandas as pd # type: ignore
import numpy as np
import sys
import os

# Update paths to get source code from notebook_utils
curr_dir = os.path.dirname(os.path.abspath('notebooks'))
proj_dir = os.path.dirname(curr_dir)
src_path = os.path.join(proj_dir, 'src')
sys.path.append(src_path)

from notebook_utils.preprocessing import *

CA_stations = get_reduced_df()

Processed file: reduced_CA_stations_2003.csv
Processed file: reduced_CA_stations_2004.csv
Processed file: reduced_CA_stations_2005.csv
Processed file: reduced_CA_stations_2006.csv
Processed file: reduced_CA_stations_2007.csv
Processed file: reduced_CA_stations_2008.csv
Processed file: reduced_CA_stations_2009.csv
Processed file: reduced_CA_stations_2010.csv
Processed file: reduced_CA_stations_2011.csv
Processed file: reduced_CA_stations_2012.csv
Processed file: reduced_CA_stations_2013.csv
Processed file: reduced_CA_stations_2014.csv
Processed file: reduced_CA_stations_2015.csv
Processed file: reduced_CA_stations_2016.csv
Processed file: reduced_CA_stations_2017.csv
Processed file: reduced_CA_stations_2018.csv
Processed file: reduced_CA_stations_2019.csv
Processed file: reduced_CA_stations_2020.csv
Processed file: reduced_CA_stations_2021.csv
Processed file: reduced_CA_stations_2022.csv
Processed file: reduced_CA_stations_2023.csv

### Data Examination

In [2]:
CA_stations.head()

,Station_ID,Station_name,Year,Month,Day,Hour,Latitude,Longitude,temperature
0,USW00023225,BLUE CANYON NYACK AP,2003,1,1,0,39.2761,-120.7092,-1.1
1,USW00023225,BLUE CANYON NYACK AP,2003,1,1,1,39.2761,-120.7092,-1.1
2,USW00023225,BLUE CANYON NYACK AP,2003,1,1,2,39.2761,-120.7092,-1.1
3,USW00023225,BLUE CANYON NYACK AP,2003,1,1,3,39.2761,-120.7092,-1.7
4,USW00023225,BLUE CANYON NYACK AP,2003,1,1,4,39.2761,-120.7092,-2.2

In [3]:
CA_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19851938 entries, 0 to 19851937
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   Station_ID    object
 1   Station_name  object
 2   Year          int64
 3   Month         int64
 4   Day           int64
 5   Hour          int64
 6   Latitude      float64
 7   Longitude     float64
 8   temperature   float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.3+ GB

In [4]:
CA_stations.describe()

,Year,Month,Day,Hour,Latitude,Longitude,temperature
count,1.985194e+07,1.985194e+07,1.985194e+07,1.985194e+07,1.985194e+07,1.985194e+07,1.961237e+07
mean,2.013089e+03,6.504389e+00,1.573293e+01,1.159572e+01,3.668450e+01,-1.201430e+02,1.561475e+01
std,5.375401e+00,3.467041e+00,8.794091e+00,6.939050e+00,2.374357e+00,2.021136e+00,8.620436e+00
min,2.003000e+03,1.000000e+00,1.000000e+00,0.000000e+00,3.256810e+01,-1.242381e+02,-9.900000e+01
25%,2.009000e+03,3.000000e+00,8.000000e+00,6.000000e+00,3.441420e+01,-1.218150e+02,1.050000e+01
50%,2.013000e+03,7.000000e+00,1.600000e+01,1.200000e+01,3.698500e+01,-1.204667e+02,1.470000e+01
75%,2.018000e+03,1.000000e+01,2.300000e+01,1.800000e+01,3.832080e+01,-1.182911e+02,2.000000e+01
max,2.023000e+03,1.200000e+01,3.100000e+01,2.300000e+01,4.178360e+01,-1.161472e+02,9.020000e+02

The temperature column has a really high max celsius value which is 902 degrees celsius. This is unreasonably high. After doing some searching, we found that the highest recorded temperature value was 56.7 degrees celsius in California 1913. 

There is also an unreasonably low temperature observation of -99 degrees celsius since the lowest recorded temperature observation on Earth was -98 degrees in Antartica.

In [5]:
optimize_col_types(CA_stations)
CA_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19851938 entries, 0 to 19851937
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   Station_ID    object
 1   Station_name  object
 2   Year          int16
 3   Month         int8
 4   Day           int8
 5   Hour          int8
 6   Latitude      float32
 7   Longitude     float32
 8   temperature   float32
dtypes: float32(3), int16(1), int8(3), object(2)
memory usage: 624.8+ MB

# Cleaning Invalid Data

- Handle Missing Values  (e.g., mean/median impuation, interpolation, forward or backward fill, k-nearest neighbors imputation, deletion)
- Handle Outliers  (e.g., visual inspection by boxplots, Z-score and IQR method, or data transformation by log transformation and winsorization)
- Handle inconsistencies (e.g., checking ranges to ensure temperature values fall within a reasonable range, unit consistency, string matching and standardization), and duplicates (identify and remove duplicates) in the dataset

Notes:
- For non-leap years, there should be 8760 rows (for each hour) for each station.
- For leap years, there should be 8784 rows (for each hour) for each station
- Leap years from 2003-2023 include: 2004, 2008, 2012, 2016, and 2020
- The reduced files contain 99 CA stations.
- Some stations are not observed each year from 2003-2023.

## Handling Inconsistencies

1. Ensure temperature observations are within -50¬∞C and 60¬∞C
2. Temperature values above the reasonable range will be converted to NaN.

In [6]:
# Check how many rows are below -50 and above 60 degrees celsius
CA_stations[(CA_stations['temperature'] < -50) | (CA_stations['temperature'] > 60)]

,Station_ID,Station_name,Year,Month,Day,Hour,Latitude,Longitude,temperature
1439248,USW00093104,CHINA LAKE NAF,2005,3,21,12,35.686401,-117.690804,80.300003
1440726,USW00093104,CHINA LAKE NAF,2005,5,20,2,35.686401,-117.690804,83.000000
1448841,USW00093107,SAN DIEGO MIRAMAR NAS,2005,3,16,11,32.866699,-117.133301,78.000000
1457459,USW00093107,SAN DIEGO MIRAMAR NAS,2005,9,23,2,32.866699,-117.133301,-78.000000
1458755,USW00093107,SAN DIEGO MIRAMAR NAS,2005,10,21,22,32.866699,-117.133301,78.000000
...,...,...,...,...,...,...,...,...,...
19654066,USW00023289,PALO ALTO,2023,2,8,17,37.466702,-122.116699,80.000000
19772424,USW00093193,FRESNO YOSEMITE INTL,2023,5,15,16,36.779999,-119.720299,227.000000
19781493,USW00093201,TRUCKEE AP,2023,5,23,15,39.320000,-120.139397,70.000000
19829035,USW00093231,SAN CARLOS AP,2023,2,10,15,37.516701,-122.250000,70.000000
19829095,USW00093231,SAN CARLOS AP,2023,2,12,20,37.516701,-122.250000,170.000000

In [7]:
# Write code to turn temperature outside of the specified range into NaN
CA_stations.loc[(CA_stations['temperature'] < -50) | (CA_stations['temperature'] > 60), 'temperature'] = np.nan

## Deleting Duplicate Rows

There are rows with the same value in each column except temperature. In these cases we will average out the temperature observations and delete the extra rows.

In [8]:
grouped_df = CA_stations.groupby(['Station_ID', 'Station_name', 'Year', 'Month', 'Day', 'Hour', 'Latitude', 'Longitude']).agg({'temperature': 'mean'}).reset_index()
CA_stations = grouped_df

## Handling Missing Values

### Filling missing rows

In [9]:
# create a reference dataframe with all stations with hours from 2003 to 2023
full_df = create_full_df()

391

In [10]:
full_df.describe()

In [ ]:
# Fill in completely missing rows
missing_rows = find_missing_rows(full_df, CA_stations)
CA_stations = add_missing_rows(CA_stations, missing_rows)

In [ ]:
error = check_station_rows(CA_stations)
print(error)

In [ ]:
CA_stations.head()

### Station Deletion

Stations with no Station_name values will be dropped as that means there are no observations recorded for them at all from 2003 - 2023
- This is because the above Station_name for missing rows were filled in by using the Station_name used from a filled column with the same Station_ID.

In [ ]:
CA_stations.dropna(subset=['Station_name'], inplace=True)   # 21 stations dropped

## Filling missing temperature values

In [ ]:
null_count = CA_stations.isna().sum()
null_percent = (null_count/CA_stations.shape[0]) * 100
print(f'Percentage of null values for each column: \n{null_percent}')

### Missing Temperature Values: Handling large gaps in temperature observations

We define a "large gap" as being a gap in the temperature column that is more than a day.

Large gaps in temperature observations will be handled via interpolation

#### Cubic Spline Interpolation for large gaps of missing temperature values

In [ ]:
from notebook_utils.preprocessing import cubic_spline_interpolate

CA_interpolated_df = cubic_spline_interpolate(CA_stations,gap_hours=24)

In [ ]:
CA_interpolated_df.head()

In [ ]:
null_count = CA_interpolated_df.isna().sum()
null_percent = (null_count/CA_interpolated_df.shape[0]) * 100
print(f'Percentage of null values for each column: \n{null_percent}')

### Missing Temperature Values: Handling short gaps in temperature observations

We define a "short gap" as being a gap in the temperature column that is less than a day. 

Short gaps in temperature observations will be handled with forward/backward fill.

In [ ]:
final_df = fill_gaps(CA_interpolated_df)

In [ ]:
null_count = final_df.isna().sum()
null_percent = (null_count/final_df.shape[0]) * 100
print(f'Percentage of null values for each column: \n{null_percent}')

#### Validation

In [ ]:
import matplotlib.pyplot as plt

# make copies to not alter original dataframes
plot_CA_stations = CA_stations.copy()
plot_CA_interpolated = CA_interpolated_df.copy()

plot_CA_stations['Datetime'] = pd.to_datetime(plot_CA_stations[['Year', 'Month', 'Day', 'Hour']])
plot_CA_interpolated['Datetime'] = pd.to_datetime(plot_CA_interpolated[['Year', 'Month', 'Day', 'Hour']])

plot_CA_stations.set_index('Datetime', inplace=True)
plot_CA_interpolated.set_index('Datetime', inplace=True)

monthly_avg_original = plot_CA_stations['temperature'].resample('ME').mean()
monthly_avg_interpolated = plot_CA_interpolated['temperature'].resample('ME').mean()

plt.figure(figsize=(14, 7))

plt.plot(monthly_avg_original.index, monthly_avg_original.values, 'o-', label='Original Data', markersize=4)

plt.plot(monthly_avg_interpolated.index, monthly_avg_interpolated.values, 'x-', label='Interpolated Data', markersize=4)

plt.xlabel('Datetime')
plt.ylabel('Temperature (¬∞C)')
plt.title('Monthly Average Temperature (2003-2023)')
plt.legend()
plt.grid(True)
plt.show()

## Handling Outliers

Outliers can skew our statistical analysis of the data.

### 1. Visual Inspection

#### Boxplot

In [ ]:
import seaborn as sns

plt.figure(figsize=(12, 8))
sns.boxplot(x='Year', y='temperature', data=CA_interpolated_df)
plt.title('Temperature Boxplot by Year')
plt.xticks(rotation=90)  
plt.ylabel('Temperature')
plt.show()

### 2. Statistical Methods

#### Z-Score

In [ ]:
from scipy import stats

# z_stations dataframe will have a Z_score column added to it
z_stations = CA_interpolated_df.copy()
z_stations['Z_score'] = stats.zscore(z_stations['temperature'])
z_thresh = 3

# calculate outliers using Z-score
z_outliers = z_stations[(z_stations['Z_score'] < -z_thresh) | (z_stations['Z_score'] > z_thresh)]
total_observations = z_stations.shape[0]

num_outliers = z_outliers.shape[0]

percent_outliers = (num_outliers / total_observations) * 100

print(f'{percent_outliers:.2f}% of the observations are outliers')

### 3. Drop Outliers

In [ ]:
z_stations_cleaned = z_stations[~((z_stations['Z_score'] < -z_thresh) | (z_stations['Z_score'] > z_thresh))]

# Drop the Z_score column as it's no longer needed
z_stations_cleaned = z_stations_cleaned.drop(columns=['Z_score'])

# The z_stations_cleaned dataframe now contains the data without the outliers
z_stations_cleaned.describe()

### UTC to Local Time Conversion

In [ ]:
z_stations_cleaned['Datetime'] = pd.to_datetime(z_stations_cleaned[['Year', 'Month', 'Day', 'Hour']])
z_stations_cleaned = z_stations_cleaned.drop(columns=['Year', 'Month', 'Day', 'Hour'])

z_stations_cleaned['Datetime_local'] = z_stations_cleaned['Datetime'].dt.tz_localize('UTC').dt.tz_convert('US/Pacific')
z_stations_cleaned['Year'] = z_stations_cleaned['Datetime_local'].dt.year
z_stations_cleaned['Month'] = z_stations_cleaned['Datetime_local'].dt.month
z_stations_cleaned['Day'] = z_stations_cleaned['Datetime_local'].dt.day
z_stations_cleaned['Hour'] = z_stations_cleaned['Datetime_local'].dt.hour
z_stations_cleaned = z_stations_cleaned.drop(columns=['Datetime', 'Datetime_local'])

# remove 2002 observations
z_stations_cleaned = z_stations_cleaned[z_stations_cleaned['Year'] != 2002]

# rearrange columns
cols = ['Station_ID','Station_name', 'Latitude', 'Longitude','Year','Month','Day','Hour','temperature']
z_stations_cleaned = z_stations_cleaned[cols]

In [ ]:
z_stations_cleaned.head()

### Write dataframe to csv files by year

In [ ]:
output_folder = '../data/processed/ghcn_clean'
os.makedirs(output_folder, exist_ok=True)

years = z_stations_cleaned['Year'].unique()

# Capitalize the temperature column to match the rest.
z_stations_cleaned = z_stations_cleaned.rename(columns={'temperature': 'Temperature'})
z_stations_cleaned.sort_values(by=['Station_ID', 'Year', 'Month', 'Day', 'Hour'], inplace=True)

for year in years:
    yearly_data = z_stations_cleaned[z_stations_cleaned['Year'] == year]
    output_file = os.path.join(output_folder, f'CA_{year}_clean.csv')
    yearly_data.to_csv(output_file, index=False)

print('New datafrane yearly files saved to ghcn_cleaned')