# Data Exploration

## Background

### Data Source
The data used in this notebook is sourced from the National Centers for Environmental Information (NCEI): [Global Historical Climatology Network (GHCN) - Hourly](https://www.ncei.noaa.gov/products/global-historical-climatology-network-hourly). Refer to their documentation and terms of use.

#### Data Set

Station_ID: the station identification code. The first two characters signify the FIPS country code, the third character is a network code identifying the station numbering system used, and the remaining eight characters contain the actual station ID.

Station_Name: the name of the station.

Year: the year the observation was taken in Coordinated Universal Time (UTC).

Month: the month the observation was taken in Coordinated Universal Time (UTC).

Day: the day the observation was taken in Coordinated Universal Time (UTC).

Hour: the hour the observation was taken in Coordinated Universal Time (UTC).

Latitude: latitude of the station (in decimal degrees). North (+); South (-).

Longitude: the longitude of the station (in decimal degrees). East (+); West (-).

Temperature: 2 meter (circa) Above Ground Level Air (dry bulb) Temperature (‚Å∞C to tenths)

Notes: 
- Raw data was removed in download_ghcn.py for storage purposes.
- GHCN hourly dataset contained psv files for individual stations in specific years. When processing the data, it was converted to csv format files for all California stations in years 2003 - 2023.
- Most columns were dropped as they were not needed. Columns kept were described above.
- Duplicate rows were dropped.
- Missing temperature values were filled in with -999.

## Data Cleaning

### Data Examination

In [9]:
import pandas as pd
import sys
from preprocessing import combine_files_to_dfs

dfs = combine_files_to_dfs("../data/ghcn_reduced")
CA_stations = pd.concat(dfs, ignore_index=True)

Processed file: reduced_CA_stations_2003.csv
Processed file: reduced_CA_stations_2004.csv
Processed file: reduced_CA_stations_2005.csv
Processed file: reduced_CA_stations_2006.csv
Processed file: reduced_CA_stations_2007.csv
Processed file: reduced_CA_stations_2008.csv
Processed file: reduced_CA_stations_2009.csv
Processed file: reduced_CA_stations_2010.csv
Processed file: reduced_CA_stations_2011.csv
Processed file: reduced_CA_stations_2012.csv
Processed file: reduced_CA_stations_2013.csv
Processed file: reduced_CA_stations_2014.csv
Processed file: reduced_CA_stations_2015.csv
Processed file: reduced_CA_stations_2016.csv
Processed file: reduced_CA_stations_2017.csv
Processed file: reduced_CA_stations_2018.csv
Processed file: reduced_CA_stations_2019.csv
Processed file: reduced_CA_stations_2020.csv
Processed file: reduced_CA_stations_2021.csv
Processed file: reduced_CA_stations_2022.csv
Processed file: reduced_CA_stations_2023.csv

In [10]:
CA_stations.head()

    Station_ID  Station_name  Year  ...  Latitude  Longitude  temperature
0  USL000SANF1  SAND KEY  FL  2003  ...     24.46     -81.88         24.6
1  USL000SANF1  SAND KEY  FL  2003  ...     24.46     -81.88         24.7
2  USL000SANF1  SAND KEY  FL  2003  ...     24.46     -81.88         24.7
3  USL000SANF1  SAND KEY  FL  2003  ...     24.46     -81.88         24.6
4  USL000SANF1  SAND KEY  FL  2003  ...     24.46     -81.88         24.5

[5 rows x 9 columns]

In [11]:
CA_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35152313 entries, 0 to 35152312
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   Station_ID    object
 1   Station_name  object
 2   Year          int64
 3   Month         int64
 4   Day           int64
 5   Hour          int64
 6   Latitude      float64
 7   Longitude     float64
 8   temperature   float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.4+ GB

While there are no non-null values, from looking at the head of the data, we can see that there are missing hour rows.

In [12]:
CA_stations.describe()

               Year         Month  ...     Longitude   temperature
count  3.515231e+07  3.515231e+07  ...  3.515231e+07  3.515231e+07
mean   2.013445e+03  6.490783e+00  ... -1.188302e+02 -6.598248e+00
std    5.397860e+00  3.456516e+00  ...  7.303640e+00  1.505064e+02
min    2.003000e+03  1.000000e+00  ... -1.242381e+02 -9.990000e+02
25%    2.009000e+03  3.000000e+00  ... -1.217900e+02  1.000000e+01
50%    2.014000e+03  6.000000e+00  ... -1.198797e+02  1.500000e+01
75%    2.018000e+03  1.000000e+01  ... -1.176025e+02  2.100000e+01
max    2.023000e+03  1.200000e+01  ... -6.120000e+01  9.990000e+02

[8 rows x 7 columns]

Above shows a max temperature of 269 degrees celsius (516 degreess fahrenheit) which is impossible. This is an invalid value.

# Cleaning Invalid Data